<!DOCTYPE HTML>
<html>
<head>
<script>
window.onload = function () {

var limit = 2012;
var y = 2000;    
var data = [];
var dataSeries = { type: "line" };
var dataPoints = [];
for (var i = 0; i < limit; i += 1) {
	y += Math.round(Math.random() * 10 - 5);
	dataPoints.push({
		x: i,
		y: y
	});
}
dataSeries.dataPoints = dataPoints;
data.push(dataSeries);


var options = {
	zoomEnabled: true,
	animationEnabled: true,
	title: {
		text: "Carbon Increase in the United States"
	},
	axisY: {
		lineThickness: 1
	},
	data: {{ data }} 
};

var chart = new CanvasJS.Chart("chartContainer", options);
var startTime = new Date();
chart.render();
var endTime = new Date();

}
</script>

</head>
<body>
<div id="chartContainer" style="height: 370px; width: 100%;"></div>
<span id="timeToRender"></span>
<script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>

</body>