<!DOCTYPE HTML>
<html>
    <head>
        <title>Emissions Data</title>
        
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">   
    
    </head>
    
    <body>
    
    <br>
    <br>
    <br>
    <br>
   
        <form action = "/showFact">
            <select name = "Country">
                {{country_options}}
            </select>
            <select name = "Year">
                {{year_options}}
            </select>
            <br><br>
            <input type = "submit" value = "Search for Methane Emissions">   
        </form>
               {{methane}}
        <div id="country_options">
        </div>
        <div id="year_options">
        </div>
        
    </body>
</html>