{% extends "layout.html" %}

{% set active_page = "home" %}

{% block content %}
   
        <form action = "/showFact">
            <select name = "Country">
                {{country_options}}
            </select>
            <select name = "Year">
                {{year_options}}
            </select>
            <br><br>
            <input type = "submit" value = "Search for Nitrous Oxide Emissions">   
        </form>
               {{nitrous}}
        <div id="country_options">
        </div>
        <div id="year_options">
        </div>
        
    </body>
</html>

{% endblock %}

